head
    block variables
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='cleartype' content='on')
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(property="og:title" content="")
    meta(property="og:url" content="http://")
    meta(property="og:description" content="")
    meta(property="og:image" content="images/og-logo.jpg")
    meta(name="format-detection" content="telephone=no")
    block head
    title #{title} #{styleSrc}
    link(href='favicon.ico' rel='shortcut icon')
    link(href='css/base.css' rel='stylesheet')
    block styles
    link(href='css/common.css' rel='stylesheet')
    