body
    font-size 14px
    
    @media (min-width: 500px)
        font-size 14px
        
    @media (min-width: 900px)
        font-size 17px
        
    @media (min-width: 1280px)
        font-size 17px

h1
.h1-title
    color $plainBlack
    font-weight bold
    font-size countEm(24px, 14px)
    line-height countEm(25px, 24px)
    
    @media (min-width: 500px)
        font-size countEm(36px, 14px)
        line-height countEm(40px, 36px)
        
    @media (min-width: 900px)
        font-size countEm(55px, 17px)
        line-height 1em
        
    @media (min-width: 1280px)
        font-size countEm(72px, 17px)
        line-height countEm(75px, 72px)
        
h1.page-title
.page-title
    color $plainBlack
    text-transform uppercase
    font-weight bold
    font-size countEm(36px, 14px) // mixins.styl
    line-height countEm(40px, 36px)
    
    @media (min-width: 900px)
        font-size countEm(72px, 17px)
        line-height countEm(100px, 72px)
        letter-spacing -1.2px
        
    @media (min-width: 1280px)
        font-size countEm(100px, 17px)
        letter-spacing -1.7px
        line-height 1em
        
h2
.h2-title
    color $plainBlack
    font-weight bold
    font-size countEm(20px, 14px)
    line-height 1em
    
    @media (min-width: 500px)
        font-size countEm(24px, 14px)
        
    @media (min-width: 900px)
        font-size countEm(40px, 17px)
        line-height countEm(45px, 40px)
        
    @media (min-width: 1280px)
        font-size countEm(45px, 17px)
    
h3
.h3-title
h4
.h4-title
h5
.h5-title
    color $plainBlack
    font-weight bold
    font-size countEm(17px, 14px)
    line-height countEm(22px, 17px)
    
    @media (min-width: 500px)
        font-size countEm(20px, 14px)
        line-height countEm(25px, 20px)
        
    @media (min-width: 900px)
        font-size countEm(30px, 17px)
        line-height countEm(35px, 30px)
        
    @media (min-width: 1280px)
        font-size countEm(32px, 17px)
        line-height countEm(40px, 32px)
        
    
p.large
.large
    font-size countEm(15px, 14px)
    line-height countEm(22px, 15px)
    color $blackColor
    
    @media (min-width: 500px)
        font-size countEm(17px, 14px)
        line-height countEm(25px, 17px)
        
    @media (min-width: 900px)
        font-size countEm(20px, 17px)
        line-height countEm(30px, 20px)
        
    @media (min-width: 1280px)
        font-size countEm(22px, 17px)
        line-height countEm(30px, 22px)
        
    
p.medium
.medium
    font-size countEm(15px, 14px)
    line-height countEm(22px, 15px)
    color $blackColor
    
    @media (min-width: 900px)
        font-size 1em
        line-height countEm(25px, 17px)
        
    
p.caption
.caption
    font-size countEm(12px, 14px)
    line-height countEm(15px, 12px)
    color $steelGray
    
    @media (min-width: 900px)
        font-size countEm(14px, 17px)
        line-height countEm(20px, 14px)
        
    