$fastenPurple = #7D73FF
$fastenGreen = #AAFF2D
$blackColor = #000000
$deepGray = #7d7d7d
$steelGray = #b8b8b8
$ghostGray = #e6e6e6
$milkGray = #f2f2f2

$helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif

$blackArrow = 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYgNi43MDdMMTEuNzA3IDEgMTEgLjI5MyA2LjAyNiA1LjMyIDEgLjI5Mi4yOTMgMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+'
$whiteArrow = 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYgNi43MDdMMTEuNzA3IDEgMTEgLjI5MyA2LjAyNiA1LjMyIDEgLjI5Mi4yOTMgMSIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+'
$closeIcon = 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOC45MTQiIGhlaWdodD0iMjkuMjUiIHZpZXdCb3g9IjAgMCAyOC45MTQgMjkuMjUiPjxwYXRoIGQ9Ik0yOC4yNDUgMy43OUwyNS40MTcuOTZsLTEwLjk2IDEwLjk2MkwzLjQ5Ny45NjIuNjY3IDMuNzlsMTAuOTYgMTAuOTZMLjY2OCAyNS43MWwyLjgzIDIuODMgMTAuOTYtMTAuOTYyIDEwLjk2IDEwLjk2IDIuODI4LTIuODI4LTEwLjk2LTEwLjk2Ii8+PC9zdmc+'